@font-face {
  font-family: 'unicons';
  src: url('../font/unicons.eot?70975408');
  src: url('../font/unicons.eot?70975408#iefix') format('embedded-opentype'),
       url('../font/unicons.woff2?70975408') format('woff2'),
       url('../font/unicons.woff?70975408') format('woff'),
       url('../font/unicons.ttf?70975408') format('truetype'),
       url('../font/unicons.svg?70975408#unicons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'unicons';
    src: url('../font/unicons.svg?70975408#unicons') format('svg');
  }
}
*/
 
 [class^="uil-"]:before, [class*=" uil-"]:before {
  font-family: "unicons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.uil-abacus:before { content: '\e800'; } /* '' */
.uil-accessible-icon-alt:before { content: '\e801'; } /* '' */
.uil-adjust-alt:before { content: '\e802'; } /* '' */
.uil-adjust-circle:before { content: '\e803'; } /* '' */
.uil-adjust-half:before { content: '\e804'; } /* '' */
.uil-adjust:before { content: '\e805'; } /* '' */
.uil-ambulance:before { content: '\e806'; } /* '' */
.uil-analysis:before { content: '\e807'; } /* '' */
.uil-annoyed-alt:before { content: '\e808'; } /* '' */
.uil-annoyed:before { content: '\e809'; } /* '' */
.uil-at:before { content: '\e80a'; } /* '' */
.uil-atm-withdraw:before { content: '\e80b'; } /* '' */
.uil-atom:before { content: '\e80c'; } /* '' */
.uil-avatar:before { content: '\e80d'; } /* '' */
.uil-award:before { content: '\e80e'; } /* '' */
.uil-backpack:before { content: '\e80f'; } /* '' */
.uil-backspace:before { content: '\e810'; } /* '' */
.uil-backward:before { content: '\e811'; } /* '' */
.uil-bag-alt:before { content: '\e812'; } /* '' */
.uil-bag:before { content: '\e813'; } /* '' */
.uil-band-aid:before { content: '\e814'; } /* '' */
.uil-banknote:before { content: '\e815'; } /* '' */
.uil-basketball:before { content: '\e816'; } /* '' */
.uil-battery-bolt:before { content: '\e817'; } /* '' */
.uil-battery-empty:before { content: '\e818'; } /* '' */
.uil-bell-school:before { content: '\e819'; } /* '' */
.uil-bill:before { content: '\e81a'; } /* '' */
.uil-bitcoin-circle:before { content: '\e81b'; } /* '' */
.uil-bitcoin:before { content: '\e81c'; } /* '' */
.uil-bluetooth-b:before { content: '\e81d'; } /* '' */
.uil-bolt-alt:before { content: '\e81e'; } /* '' */
.uil-bolt:before { content: '\e81f'; } /* '' */
.uil-book-alt:before { content: '\e820'; } /* '' */
.uil-book-medical:before { content: '\e821'; } /* '' */
.uil-book:before { content: '\e822'; } /* '' */
.uil-bookmark-full:before { content: '\e823'; } /* '' */
.uil-bookmark:before { content: '\e824'; } /* '' */
.uil-books:before { content: '\e825'; } /* '' */
.uil-boombox:before { content: '\e826'; } /* '' */
.uil-box:before { content: '\e827'; } /* '' */
.uil-briefcase-alt:before { content: '\e828'; } /* '' */
.uil-briefcase:before { content: '\e829'; } /* '' */
.uil-brightness-empty:before { content: '\e82a'; } /* '' */
.uil-brightness-half:before { content: '\e82b'; } /* '' */
.uil-brightness-low:before { content: '\e82c'; } /* '' */
.uil-brightness-minus:before { content: '\e82d'; } /* '' */
.uil-brightness-plus:before { content: '\e82e'; } /* '' */
.uil-brightness:before { content: '\e82f'; } /* '' */
.uil-bullseye:before { content: '\e830'; } /* '' */
.uil-bus-alt:before { content: '\e831'; } /* '' */
.uil-bus:before { content: '\e832'; } /* '' */
.uil-business:before { content: '\e833'; } /* '' */
.uil-calcualtor:before { content: '\e834'; } /* '' */
.uil-calculator-alt:before { content: '\e835'; } /* '' */
.uil-calendar-alt:before { content: '\e836'; } /* '' */
.uil-calender:before { content: '\e837'; } /* '' */
.uil-calling:before { content: '\e838'; } /* '' */
.uil-camera-plus:before { content: '\e839'; } /* '' */
.uil-camera:before { content: '\e83a'; } /* '' */
.uil-capsule:before { content: '\e83b'; } /* '' */
.uil-car-sideview:before { content: '\e83c'; } /* '' */
.uil-car-wash:before { content: '\e83d'; } /* '' */
.uil-car:before { content: '\e83e'; } /* '' */
.uil-cell:before { content: '\e83f'; } /* '' */
.uil-celsius:before { content: '\e840'; } /* '' */
.uil-chart-bar-alt:before { content: '\e841'; } /* '' */
.uil-chart-growth-alt:before { content: '\e842'; } /* '' */
.uil-chart-growth:before { content: '\e843'; } /* '' */
.uil-chart-line:before { content: '\e844'; } /* '' */
.uil-chart-pie-alt:before { content: '\e845'; } /* '' */
.uil-chart-pie:before { content: '\e846'; } /* '' */
.uil-chart:before { content: '\e847'; } /* '' */
.uil-chat-bubble-user:before { content: '\e848'; } /* '' */
.uil-chat-bubble:before { content: '\e849'; } /* '' */
.uil-check-circle:before { content: '\e84a'; } /* '' */
.uil-check-list-1:before { content: '\e84b'; } /* '' */
.uil-check-square:before { content: '\e84c'; } /* '' */
.uil-check:before { content: '\e84d'; } /* '' */
.uil-circle:before { content: '\e84e'; } /* '' */
.uil-clipboard-alt:before { content: '\e84f'; } /* '' */
.uil-clipboard-blank:before { content: '\e850'; } /* '' */
.uil-clipboard:before { content: '\e851'; } /* '' */
.uil-clock-eight:before { content: '\e852'; } /* '' */
.uil-clock-five:before { content: '\e853'; } /* '' */
.uil-clock-nine:before { content: '\e854'; } /* '' */
.uil-clock-seven:before { content: '\e855'; } /* '' */
.uil-clock-ten:before { content: '\e856'; } /* '' */
.uil-clock-three:before { content: '\e857'; } /* '' */
.uil-clock-two:before { content: '\e858'; } /* '' */
.uil-clock:before { content: '\e859'; } /* '' */
.uil-closed-captioning:before { content: '\e85a'; } /* '' */
.uil-cloud-block:before { content: '\e85b'; } /* '' */
.uil-cloud-bookmark:before { content: '\e85c'; } /* '' */
.uil-cloud-check:before { content: '\e85d'; } /* '' */
.uil-cloud-computing:before { content: '\e85e'; } /* '' */
.uil-cloud-connection:before { content: '\e85f'; } /* '' */
.uil-cloud-database-tree:before { content: '\e860'; } /* '' */
.uil-cloud-drizzle:before { content: '\e861'; } /* '' */
.uil-cloud-exclamation:before { content: '\e862'; } /* '' */
.uil-cloud-hail:before { content: '\e863'; } /* '' */
.uil-cloud-heart:before { content: '\e864'; } /* '' */
.uil-cloud-meatball:before { content: '\e865'; } /* '' */
.uil-cloud-moon-hail:before { content: '\e866'; } /* '' */
.uil-cloud-moon-meatball:before { content: '\e867'; } /* '' */
.uil-cloud-moon-rain:before { content: '\e868'; } /* '' */
.uil-cloud-moon-showers:before { content: '\e869'; } /* '' */
.uil-cloud-moon:before { content: '\e86a'; } /* '' */
.uil-cloud-question:before { content: '\e86b'; } /* '' */
.uil-cloud-rain:before { content: '\e86c'; } /* '' */
.uil-cloud-redo:before { content: '\e86d'; } /* '' */
.uil-cloud-shield:before { content: '\e86e'; } /* '' */
.uil-cloud-showers-alt:before { content: '\e86f'; } /* '' */
.uil-cloud-showers-heavy:before { content: '\e870'; } /* '' */
.uil-cloud-showers:before { content: '\e871'; } /* '' */
.uil-cloud-slash:before { content: '\e872'; } /* '' */
.uil-cloud-sun-hail:before { content: '\e873'; } /* '' */
.uil-cloud-sun-meatball:before { content: '\e874'; } /* '' */
.uil-cloud-sun-rain-alt:before { content: '\e875'; } /* '' */
.uil-cloud-sun-rain:before { content: '\e876'; } /* '' */
.uil-cloud-sun-tear:before { content: '\e877'; } /* '' */
.uil-cloud-sun:before { content: '\e878'; } /* '' */
.uil-cloud-times:before { content: '\e879'; } /* '' */
.uil-cloud-unlock:before { content: '\e87a'; } /* '' */
.uil-cloud-wind:before { content: '\e87b'; } /* '' */
.uil-cloud:before { content: '\e87c'; } /* '' */
.uil-clouds:before { content: '\e87d'; } /* '' */
.uil-club:before { content: '\e87e'; } /* '' */
.uil-cog:before { content: '\e87f'; } /* '' */
.uil-coins:before { content: '\e880'; } /* '' */
.uil-columns:before { content: '\e881'; } /* '' */
.uil-comment-alt-block:before { content: '\e882'; } /* '' */
.uil-comment-alt-chart-lines:before { content: '\e883'; } /* '' */
.uil-comment-alt-check:before { content: '\e884'; } /* '' */
.uil-comment-alt-dots:before { content: '\e885'; } /* '' */
.uil-comment-alt-download:before { content: '\e886'; } /* '' */
.uil-comment-alt-edit:before { content: '\e887'; } /* '' */
.uil-comment-alt-exclamation:before { content: '\e888'; } /* '' */
.uil-comment-alt-heart:before { content: '\e889'; } /* '' */
.uil-comment-alt-image:before { content: '\e88a'; } /* '' */
.uil-comment-alt-info:before { content: '\e88b'; } /* '' */
.uil-comment-alt-lines:before { content: '\e88c'; } /* '' */
.uil-comment-alt-lock:before { content: '\e88d'; } /* '' */
.uil-comment-alt-medical:before { content: '\e88e'; } /* '' */
.uil-comment-alt-message:before { content: '\e88f'; } /* '' */
.uil-comment-alt-notes:before { content: '\e890'; } /* '' */
.uil-comment-alt-plus:before { content: '\e891'; } /* '' */
.uil-comment-alt-question:before { content: '\e892'; } /* '' */
.uil-comment-alt-redo:before { content: '\e893'; } /* '' */
.uil-comment-alt-search:before { content: '\e894'; } /* '' */
.uil-comment-alt-share:before { content: '\e895'; } /* '' */
.uil-comment-alt-shield:before { content: '\e896'; } /* '' */
.uil-comment-alt-upload:before { content: '\e897'; } /* '' */
.uil-comment-alt-verify:before { content: '\e898'; } /* '' */
.uil-comment-alt:before { content: '\e899'; } /* '' */
.uil-comment-block:before { content: '\e89a'; } /* '' */
.uil-comment-chart-line:before { content: '\e89b'; } /* '' */
.uil-comment-check:before { content: '\e89c'; } /* '' */
.uil-comment-dots:before { content: '\e89d'; } /* '' */
.uil-comment-download:before { content: '\e89e'; } /* '' */
.uil-comment-edit:before { content: '\e89f'; } /* '' */
.uil-comment-exclamation:before { content: '\e8a0'; } /* '' */
.uil-comment-heart:before { content: '\e8a1'; } /* '' */
.uil-comment-image:before { content: '\e8a2'; } /* '' */
.uil-comment-info-alt:before { content: '\e8a3'; } /* '' */
.uil-comment-info:before { content: '\e8a4'; } /* '' */
.uil-comment-lines:before { content: '\e8a5'; } /* '' */
.uil-comment-lock:before { content: '\e8a6'; } /* '' */
.uil-comment-medical:before { content: '\e8a7'; } /* '' */
.uil-comment-message:before { content: '\e8a8'; } /* '' */
.uil-comment-notes:before { content: '\e8a9'; } /* '' */
.uil-comment-plus:before { content: '\e8aa'; } /* '' */
.uil-comment-question:before { content: '\e8ab'; } /* '' */
.uil-comment-redo:before { content: '\e8ac'; } /* '' */
.uil-comment-search:before { content: '\e8ad'; } /* '' */
.uil-comment-share:before { content: '\e8ae'; } /* '' */
.uil-comment-shield:before { content: '\e8af'; } /* '' */
.uil-comment-upload:before { content: '\e8b0'; } /* '' */
.uil-comment-verify:before { content: '\e8b1'; } /* '' */
.uil-comment:before { content: '\e8b2'; } /* '' */
.uil-comments-alt:before { content: '\e8b3'; } /* '' */
.uil-comments:before { content: '\e8b4'; } /* '' */
.uil-compass:before { content: '\e8b5'; } /* '' */
.uil-confused:before { content: '\e8b6'; } /* '' */
.uil-copy-alt:before { content: '\e8b7'; } /* '' */
.uil-copy-landscape:before { content: '\e8b8'; } /* '' */
.uil-copy:before { content: '\e8b9'; } /* '' */
.uil-copyright:before { content: '\e8ba'; } /* '' */
.uil-creative-commons-pd-alt:before { content: '\e8bb'; } /* '' */
.uil-creative-commons-pd:before { content: '\e8bc'; } /* '' */
.uil-credit-card:before { content: '\e8bd'; } /* '' */
.uil-crosshairs:before { content: '\e8be'; } /* '' */
.uil-cube:before { content: '\e8bf'; } /* '' */
.uil-currency:before { content: '\e8c0'; } /* '' */
.uil-data-center-1:before { content: '\e8c1'; } /* '' */
.uil-data-sharing:before { content: '\e8c2'; } /* '' */
.uil-database-alt:before { content: '\e8c3'; } /* '' */
.uil-database:before { content: '\e8c4'; } /* '' */
.uil-desktop-alt:before { content: '\e8c5'; } /* '' */
.uil-desktop-cloud-alt:before { content: '\e8c6'; } /* '' */
.uil-desktop:before { content: '\e8c7'; } /* '' */
.uil-diamond:before { content: '\e8c8'; } /* '' */
.uil-diary-alt:before { content: '\e8c9'; } /* '' */
.uil-diary:before { content: '\e8ca'; } /* '' */
.uil-dice-three:before { content: '\e8cb'; } /* '' */
.uil-directions:before { content: '\e8cc'; } /* '' */
.uil-dizzy-meh:before { content: '\e8cd'; } /* '' */
.uil-dna:before { content: '\e8ce'; } /* '' */
.uil-document:before { content: '\e8cf'; } /* '' */
.uil-dollar-alt:before { content: '\e8d0'; } /* '' */
.uil-dollar-sign-alt:before { content: '\e8d1'; } /* '' */
.uil-dollar-sign:before { content: '\e8d2'; } /* '' */
.uil-down-arrow:before { content: '\e8d3'; } /* '' */
.uil-dribbble:before { content: '\e8d4'; } /* '' */
.uil-drill:before { content: '\e8d5'; } /* '' */
.uil-dropbox:before { content: '\e8d6'; } /* '' */
.uil-dumbbell:before { content: '\e8d7'; } /* '' */
.uil-edit-alt:before { content: '\e8d8'; } /* '' */
.uil-edit:before { content: '\e8d9'; } /* '' */
.uil-ellipsis-h:before { content: '\e8da'; } /* '' */
.uil-ellipsis-v:before { content: '\e8db'; } /* '' */
.uil-emoji:before { content: '\e8dc'; } /* '' */
.uil-envelope-add:before { content: '\e8dd'; } /* '' */
.uil-envelope-alt:before { content: '\e8de'; } /* '' */
.uil-envelope-block:before { content: '\e8df'; } /* '' */
.uil-envelope-bookmark:before { content: '\e8e0'; } /* '' */
.uil-envelope-check:before { content: '\e8e1'; } /* '' */
.uil-envelope-download-alt:before { content: '\e8e2'; } /* '' */
.uil-envelope-download:before { content: '\e8e3'; } /* '' */
.uil-envelope-edit:before { content: '\e8e4'; } /* '' */
.uil-envelope-exclamation:before { content: '\e8e5'; } /* '' */
.uil-envelope-heart:before { content: '\e8e6'; } /* '' */
.uil-envelope-info:before { content: '\e8e7'; } /* '' */
.uil-envelope-lock:before { content: '\e8e8'; } /* '' */
.uil-envelope-minus:before { content: '\e8e9'; } /* '' */
.uil-envelope-open:before { content: '\e8ea'; } /* '' */
.uil-envelope-question:before { content: '\e8eb'; } /* '' */
.uil-envelope-receive:before { content: '\e8ec'; } /* '' */
.uil-envelope-redo:before { content: '\e8ed'; } /* '' */
.uil-envelope-search:before { content: '\e8ee'; } /* '' */
.uil-envelope-send:before { content: '\e8ef'; } /* '' */
.uil-envelope-share:before { content: '\e8f0'; } /* '' */
.uil-envelope-shield:before { content: '\e8f1'; } /* '' */
.uil-envelope-star:before { content: '\e8f2'; } /* '' */
.uil-envelope-times:before { content: '\e8f3'; } /* '' */
.uil-envelope-upload-alt:before { content: '\e8f4'; } /* '' */
.uil-envelope-upload:before { content: '\e8f5'; } /* '' */
.uil-envelope:before { content: '\e8f6'; } /* '' */
.uil-envelopes:before { content: '\e8f7'; } /* '' */
.uil-exclamation-circle:before { content: '\e8f8'; } /* '' */
.uil-exclamation-octagon:before { content: '\e8f9'; } /* '' */
.uil-exclamation-triangle:before { content: '\e8fa'; } /* '' */
.uil-facebook:before { content: '\e8fb'; } /* '' */
.uil-fahrenheit:before { content: '\e8fc'; } /* '' */
.uil-fast-mail-alt:before { content: '\e8fd'; } /* '' */
.uil-file-alt:before { content: '\e8fe'; } /* '' */
.uil-file-blank:before { content: '\e8ff'; } /* '' */
.uil-file-block-alt:before { content: '\e900'; } /* '' */
.uil-file-bookmark-alt:before { content: '\e901'; } /* '' */
.uil-file-check-alt:before { content: '\e902'; } /* '' */
.uil-file-check:before { content: '\e903'; } /* '' */
.uil-file-connection:before { content: '\e904'; } /* '' */
.uil-file-contract-dollar:before { content: '\e905'; } /* '' */
.uil-file-copy-alt:before { content: '\e906'; } /* '' */
.uil-file-download-alt:before { content: '\e907'; } /* '' */
.uil-file-edit-alt:before { content: '\e908'; } /* '' */
.uil-file-exclamation-alt:before { content: '\e909'; } /* '' */
.uil-file-exclamation:before { content: '\e90a'; } /* '' */
.uil-file-heart:before { content: '\e90b'; } /* '' */
.uil-file-info-alt:before { content: '\e90c'; } /* '' */
.uil-file-landscape-alt:before { content: '\e90d'; } /* '' */
.uil-file-landscape:before { content: '\e90e'; } /* '' */
.uil-file-lock-alt:before { content: '\e90f'; } /* '' */
.uil-file-medical-alt:before { content: '\e910'; } /* '' */
.uil-file-medical:before { content: '\e911'; } /* '' */
.uil-file-minus-alt:before { content: '\e912'; } /* '' */
.uil-file-minus:before { content: '\e913'; } /* '' */
.uil-file-plus-alt:before { content: '\e914'; } /* '' */
.uil-file-plus:before { content: '\e915'; } /* '' */
.uil-file-question-alt:before { content: '\e916'; } /* '' */
.uil-file-question:before { content: '\e917'; } /* '' */
.uil-file-redo-alt:before { content: '\e918'; } /* '' */
.uil-file-search-alt:before { content: '\e919'; } /* '' */
.uil-file-share-alt:before { content: '\e91a'; } /* '' */
.uil-file-shield-alt:before { content: '\e91b'; } /* '' */
.uil-file-times-alt:before { content: '\e91c'; } /* '' */
.uil-file-times:before { content: '\e91d'; } /* '' */
.uil-file-upload-alt:before { content: '\e91e'; } /* '' */
.uil-file:before { content: '\e91f'; } /* '' */
.uil-files-landscapes-alt:before { content: '\e920'; } /* '' */
.uil-files-landscapes:before { content: '\e921'; } /* '' */
.uil-film:before { content: '\e922'; } /* '' */
.uil-filter:before { content: '\e923'; } /* '' */
.uil-finance:before { content: '\e924'; } /* '' */
.uil-flask-potion:before { content: '\e925'; } /* '' */
.uil-flask:before { content: '\e926'; } /* '' */
.uil-folder-check:before { content: '\e927'; } /* '' */
.uil-folder-exclamation:before { content: '\e928'; } /* '' */
.uil-folder-heart:before { content: '\e929'; } /* '' */
.uil-folder-medical:before { content: '\e92a'; } /* '' */
.uil-folder-minus:before { content: '\e92b'; } /* '' */
.uil-folder-plus:before { content: '\e92c'; } /* '' */
.uil-folder-question:before { content: '\e92d'; } /* '' */
.uil-folder-times:before { content: '\e92e'; } /* '' */
.uil-folder:before { content: '\e92f'; } /* '' */
.uil-football:before { content: '\e930'; } /* '' */
.uil-forecastcloud-moon-tear:before { content: '\e931'; } /* '' */
.uil-forwaded-call:before { content: '\e932'; } /* '' */
.uil-forward:before { content: '\e933'; } /* '' */
.uil-frown:before { content: '\e934'; } /* '' */
.uil-glass-martini-alt:before { content: '\e935'; } /* '' */
.uil-globe:before { content: '\e936'; } /* '' */
.uil-gold:before { content: '\e937'; } /* '' */
.uil-golf-ball:before { content: '\e938'; } /* '' */
.uil-graduation-cap:before { content: '\e939'; } /* '' */
.uil-graph-bar:before { content: '\e93a'; } /* '' */
.uil-grid:before { content: '\e93b'; } /* '' */
.uil-grin-tongue-wink-alt:before { content: '\e93c'; } /* '' */
.uil-grin-tongue-wink:before { content: '\e93d'; } /* '' */
.uil-grin:before { content: '\e93e'; } /* '' */
.uil-hard-hat:before { content: '\e93f'; } /* '' */
.uil-hardware:before { content: '\e940'; } /* '' */
.uil-headphones-alt:before { content: '\e941'; } /* '' */
.uil-headphones:before { content: '\e942'; } /* '' */
.uil-heart-alt:before { content: '\e943'; } /* '' */
.uil-heart:before { content: '\e944'; } /* '' */
.uil-heartbeat:before { content: '\e945'; } /* '' */
.uil-home-alt:before { content: '\e946'; } /* '' */
.uil-home:before { content: '\e947'; } /* '' */
.uil-hoop:before { content: '\e948'; } /* '' */
.uil-image-block:before { content: '\e949'; } /* '' */
.uil-image-broken:before { content: '\e94a'; } /* '' */
.uil-image-check:before { content: '\e94b'; } /* '' */
.uil-image-edit:before { content: '\e94c'; } /* '' */
.uil-image-lock:before { content: '\e94d'; } /* '' */
.uil-image-minus:before { content: '\e94e'; } /* '' */
.uil-image-plus:before { content: '\e94f'; } /* '' */
.uil-image-question:before { content: '\e950'; } /* '' */
.uil-image-redo:before { content: '\e951'; } /* '' */
.uil-image-search-1:before { content: '\e952'; } /* '' */
.uil-image-share:before { content: '\e953'; } /* '' */
.uil-image-shield:before { content: '\e954'; } /* '' */
.uil-image-times:before { content: '\e955'; } /* '' */
.uil-image-upload:before { content: '\e956'; } /* '' */
.uil-image-v:before { content: '\e957'; } /* '' */
.uil-image:before { content: '\e958'; } /* '' */
.uil-images:before { content: '\e959'; } /* '' */
.uil-info-circle:before { content: '\e95a'; } /* '' */
.uil-infographic:before { content: '\e95b'; } /* '' */
.uil-information-data:before { content: '\e95c'; } /* '' */
.uil-instagram:before { content: '\e95d'; } /* '' */
.uil-invoice:before { content: '\e95e'; } /* '' */
.uil-jackhammer:before { content: '\e95f'; } /* '' */
.uil-kayak:before { content: '\e960'; } /* '' */
.uil-key-skeleton-alt:before { content: '\e961'; } /* '' */
.uil-key-skeleton:before { content: '\e962'; } /* '' */
.uil-keyboard-alt:before { content: '\e963'; } /* '' */
.uil-keyboard-hide:before { content: '\e964'; } /* '' */
.uil-keyboard-show:before { content: '\e965'; } /* '' */
.uil-keyboard:before { content: '\e966'; } /* '' */
.uil-keyhole-circle:before { content: '\e967'; } /* '' */
.uil-keyhole-square-full:before { content: '\e968'; } /* '' */
.uil-keyhole-square:before { content: '\e969'; } /* '' */
.uil-kid:before { content: '\e96a'; } /* '' */
.uil-label-alt:before { content: '\e96b'; } /* '' */
.uil-label:before { content: '\e96c'; } /* '' */
.uil-laptop-cloud:before { content: '\e96d'; } /* '' */
.uil-laptop:before { content: '\e96e'; } /* '' */
.uil-laughing:before { content: '\e96f'; } /* '' */
.uil-layer-group:before { content: '\e970'; } /* '' */
.uil-lightbulb-alt:before { content: '\e971'; } /* '' */
.uil-lightbulb:before { content: '\e972'; } /* '' */
.uil-link-alt:before { content: '\e973'; } /* '' */
.uil-link-broken:before { content: '\e974'; } /* '' */
.uil-link-h:before { content: '\e975'; } /* '' */
.uil-link:before { content: '\e976'; } /* '' */
.uil-location-arrow-alt:before { content: '\e977'; } /* '' */
.uil-location-pin-alt:before { content: '\e978'; } /* '' */
.uil-location-pin:before { content: '\e979'; } /* '' */
.uil-location-point:before { content: '\e97a'; } /* '' */
.uil-location:before { content: '\e97b'; } /* '' */
.uil-lock-access:before { content: '\e97c'; } /* '' */
.uil-lock-alt:before { content: '\e97d'; } /* '' */
.uil-lock-open-alt:before { content: '\e97e'; } /* '' */
.uil-lock:before { content: '\e97f'; } /* '' */
.uil-logo:before { content: '\e980'; } /* '' */
.uil-mailbox-alt:before { content: '\e981'; } /* '' */
.uil-mailbox:before { content: '\e982'; } /* '' */
.uil-map-marker-alt:before { content: '\e983'; } /* '' */
.uil-map-marker-edit:before { content: '\e984'; } /* '' */
.uil-map-marker-info:before { content: '\e985'; } /* '' */
.uil-map-marker-minus:before { content: '\e986'; } /* '' */
.uil-map-marker-plus:before { content: '\e987'; } /* '' */
.uil-map-marker-question:before { content: '\e988'; } /* '' */
.uil-map-marker-shield:before { content: '\e989'; } /* '' */
.uil-map-pin-alt:before { content: '\e98a'; } /* '' */
.uil-map:before { content: '\e98b'; } /* '' */
.uil-mars:before { content: '\e98c'; } /* '' */
.uil-medal:before { content: '\e98d'; } /* '' */
.uil-medical-drip:before { content: '\e98e'; } /* '' */
.uil-medical-square-full:before { content: '\e98f'; } /* '' */
.uil-medical-square:before { content: '\e990'; } /* '' */
.uil-medkit:before { content: '\e991'; } /* '' */
.uil-meh-alt:before { content: '\e992'; } /* '' */
.uil-meh-closed-eye:before { content: '\e993'; } /* '' */
.uil-meh:before { content: '\e994'; } /* '' */
.uil-message:before { content: '\e995'; } /* '' */
.uil-microphone:before { content: '\e996'; } /* '' */
.uil-minus-circle:before { content: '\e997'; } /* '' */
.uil-minus-square-full:before { content: '\e998'; } /* '' */
.uil-minus-square:before { content: '\e999'; } /* '' */
.uil-minus:before { content: '\e99a'; } /* '' */
.uil-missed-call:before { content: '\e99b'; } /* '' */
.uil-mobile-android-alt:before { content: '\e99c'; } /* '' */
.uil-mobile-android:before { content: '\e99d'; } /* '' */
.uil-money-bill-stack:before { content: '\e99e'; } /* '' */
.uil-money-insert:before { content: '\e99f'; } /* '' */
.uil-money:before { content: '\e9a0'; } /* '' */
.uil-moneybag-alt:before { content: '\e9a1'; } /* '' */
.uil-moneybag:before { content: '\e9a2'; } /* '' */
.uil-monitor-heart-rate:before { content: '\e9a3'; } /* '' */
.uil-moon-eclipse:before { content: '\e9a4'; } /* '' */
.uil-moon:before { content: '\e9a5'; } /* '' */
.uil-moonset:before { content: '\e9a6'; } /* '' */
.uil-mouse-alt:before { content: '\e9a7'; } /* '' */
.uil-mouse:before { content: '\e9a8'; } /* '' */
.uil-multiply:before { content: '\e9a9'; } /* '' */
.uil-music-note:before { content: '\e9aa'; } /* '' */
.uil-music-tune-slash:before { content: '\e9ab'; } /* '' */
.uil-music:before { content: '\e9ac'; } /* '' */
.uil-navigator:before { content: '\e9ad'; } /* '' */
.uil-nerd:before { content: '\e9ae'; } /* '' */
.uil-network-cloud:before { content: '\e9af'; } /* '' */
.uil-ninja:before { content: '\e9b0'; } /* '' */
.uil-note:before { content: '\e9b1'; } /* '' */
.uil-notes:before { content: '\e9b2'; } /* '' */
.uil-octagon:before { content: '\e9b3'; } /* '' */
.uil-outgoing-call:before { content: '\e9b4'; } /* '' */
.uil-package:before { content: '\e9b5'; } /* '' */
.uil-padlock:before { content: '\e9b6'; } /* '' */
.uil-paint-roller:before { content: '\e9b7'; } /* '' */
.uil-paper-plane:before { content: '\e9b8'; } /* '' */
.uil-paperclip:before { content: '\e9b9'; } /* '' */
.uil-parcel:before { content: '\e9ba'; } /* '' */
.uil-parking-square:before { content: '\e9bb'; } /* '' */
.uil-pause-circle:before { content: '\e9bc'; } /* '' */
.uil-pause:before { content: '\e9bd'; } /* '' */
.uil-pen:before { content: '\e9be'; } /* '' */
.uil-pentagon:before { content: '\e9bf'; } /* '' */
.uil-phone-alt:before { content: '\e9c0'; } /* '' */
.uil-phone-pause:before { content: '\e9c1'; } /* '' */
.uil-phone-slash:before { content: '\e9c2'; } /* '' */
.uil-phone-times:before { content: '\e9c3'; } /* '' */
.uil-phone-volume:before { content: '\e9c4'; } /* '' */
.uil-phone:before { content: '\e9c5'; } /* '' */
.uil-picture:before { content: '\e9c6'; } /* '' */
.uil-play-circle:before { content: '\e9c7'; } /* '' */
.uil-play:before { content: '\e9c8'; } /* '' */
.uil-plus-circle:before { content: '\e9c9'; } /* '' */
.uil-plus-square:before { content: '\e9ca'; } /* '' */
.uil-plus:before { content: '\e9cb'; } /* '' */
.uil-podium:before { content: '\e9cc'; } /* '' */
.uil-polygon:before { content: '\e9cd'; } /* '' */
.uil-postcard:before { content: '\e9ce'; } /* '' */
.uil-pound-circle:before { content: '\e9cf'; } /* '' */
.uil-pound-sign:before { content: '\e9d0'; } /* '' */
.uil-prescription-bottle:before { content: '\e9d1'; } /* '' */
.uil-presentation-board:before { content: '\e9d2'; } /* '' */
.uil-presentation-check:before { content: '\e9d3'; } /* '' */
.uil-presentation-edit:before { content: '\e9d4'; } /* '' */
.uil-presentation-line:before { content: '\e9d5'; } /* '' */
.uil-presentation-lines-alt:before { content: '\e9d6'; } /* '' */
.uil-presentation-minus:before { content: '\e9d7'; } /* '' */
.uil-presentation-plus:before { content: '\e9d8'; } /* '' */
.uil-presentation-times:before { content: '\e9d9'; } /* '' */
.uil-previous:before { content: '\e9da'; } /* '' */
.uil-pricetag-alt:before { content: '\e9db'; } /* '' */
.uil-print:before { content: '\e9dc'; } /* '' */
.uil-protect:before { content: '\e9dd'; } /* '' */
.uil-protection:before { content: '\e9de'; } /* '' */
.uil-question-circle:before { content: '\e9df'; } /* '' */
.uil-raindrops-alt:before { content: '\e9e0'; } /* '' */
.uil-raindrops:before { content: '\e9e1'; } /* '' */
.uil-receipt-alt:before { content: '\e9e2'; } /* '' */
.uil-receipt:before { content: '\e9e3'; } /* '' */
.uil-redo:before { content: '\e9e4'; } /* '' */
.uil-registered:before { content: '\e9e5'; } /* '' */
.uil-rss:before { content: '\e9e6'; } /* '' */
.uil-rugby:before { content: '\e9e7'; } /* '' */
.uil-sad-cry:before { content: '\e9e8'; } /* '' */
.uil-sad-crying:before { content: '\e9e9'; } /* '' */
.uil-sad-dizzy:before { content: '\e9ea'; } /* '' */
.uil-sad-squint:before { content: '\e9eb'; } /* '' */
.uil-sad:before { content: '\e9ec'; } /* '' */
.uil-scenery:before { content: '\e9ed'; } /* '' */
.uil-schedule:before { content: '\e9ee'; } /* '' */
.uil-science:before { content: '\e9ef'; } /* '' */
.uil-screw:before { content: '\e9f0'; } /* '' */
.uil-search-alt:before { content: '\e9f1'; } /* '' */
.uil-search-minus:before { content: '\e9f2'; } /* '' */
.uil-search-plus:before { content: '\e9f3'; } /* '' */
.uil-search:before { content: '\e9f4'; } /* '' */
.uil-security:before { content: '\e9f5'; } /* '' */
.uil-server-alt:before { content: '\e9f6'; } /* '' */
.uil-server-network-alt:before { content: '\e9f7'; } /* '' */
.uil-server:before { content: '\e9f8'; } /* '' */
.uil-servers:before { content: '\e9f9'; } /* '' */
.uil-servicemark:before { content: '\e9fa'; } /* '' */
.uil-share-alt:before { content: '\e9fb'; } /* '' */
.uil-share-data:before { content: '\e9fc'; } /* '' */
.uil-share-folder:before { content: '\e9fd'; } /* '' */
.uil-shield-exclamation:before { content: '\e9fe'; } /* '' */
.uil-shield-question:before { content: '\e9ff'; } /* '' */
.uil-shield-slash:before { content: '\ea00'; } /* '' */
.uil-shield:before { content: '\ea01'; } /* '' */
.uil-ship:before { content: '\ea02'; } /* '' */
.uil-shop:before { content: '\ea03'; } /* '' */
.uil-shopping-bag:before { content: '\ea04'; } /* '' */
.uil-shopping-cart-alt:before { content: '\ea05'; } /* '' */
.uil-shopping-cart:before { content: '\ea06'; } /* '' */
.uil-shopping:before { content: '\ea07'; } /* '' */
.uil-shovel:before { content: '\ea08'; } /* '' */
.uil-sick:before { content: '\ea09'; } /* '' */
.uil-sign-alt:before { content: '\ea0a'; } /* '' */
.uil-sign-left:before { content: '\ea0b'; } /* '' */
.uil-sign-right:before { content: '\ea0c'; } /* '' */
.uil-signal-alt-3:before { content: '\ea0d'; } /* '' */
.uil-signal-alt:before { content: '\ea0e'; } /* '' */
.uil-signal:before { content: '\ea0f'; } /* '' */
.uil-silence:before { content: '\ea10'; } /* '' */
.uil-silent-squint:before { content: '\ea11'; } /* '' */
.uil-sim-card:before { content: '\ea12'; } /* '' */
.uil-skip-forward-alt:before { content: '\ea13'; } /* '' */
.uil-skip-forward-circle:before { content: '\ea14'; } /* '' */
.uil-skip-forward:before { content: '\ea15'; } /* '' */
.uil-smile-beam:before { content: '\ea16'; } /* '' */
.uil-smile-dizzy:before { content: '\ea17'; } /* '' */
.uil-smile-squint-wink-alt:before { content: '\ea18'; } /* '' */
.uil-smile-squint-wink:before { content: '\ea19'; } /* '' */
.uil-smile-wink-alt:before { content: '\ea1a'; } /* '' */
.uil-smile-wink:before { content: '\ea1b'; } /* '' */
.uil-smile:before { content: '\ea1c'; } /* '' */
.uil-snowflake-alt:before { content: '\ea1d'; } /* '' */
.uil-snowflake:before { content: '\ea1e'; } /* '' */
.uil-space-key:before { content: '\ea1f'; } /* '' */
.uil-spade:before { content: '\ea20'; } /* '' */
.uil-square-full:before { content: '\ea21'; } /* '' */
.uil-square:before { content: '\ea22'; } /* '' */
.uil-squint:before { content: '\ea23'; } /* '' */
.uil-star-half-alt:before { content: '\ea24'; } /* '' */
.uil-star:before { content: '\ea25'; } /* '' */
.uil-step-backward-alt:before { content: '\ea26'; } /* '' */
.uil-step-backward-circle:before { content: '\ea27'; } /* '' */
.uil-step-backward:before { content: '\ea28'; } /* '' */
.uil-step-forward:before { content: '\ea29'; } /* '' */
.uil-stop-circle:before { content: '\ea2a'; } /* '' */
.uil-stopwatch-slash:before { content: '\ea2b'; } /* '' */
.uil-stopwatch:before { content: '\ea2c'; } /* '' */
.uil-store-alt:before { content: '\ea2d'; } /* '' */
.uil-store:before { content: '\ea2e'; } /* '' */
.uil-stretcher:before { content: '\ea2f'; } /* '' */
.uil-subway-alt:before { content: '\ea30'; } /* '' */
.uil-subway:before { content: '\ea31'; } /* '' */
.uil-suitcase-alt:before { content: '\ea32'; } /* '' */
.uil-suitcase:before { content: '\ea33'; } /* '' */
.uil-sun:before { content: '\ea34'; } /* '' */
.uil-surprise:before { content: '\ea35'; } /* '' */
.uil-symbol:before { content: '\ea36'; } /* '' */
.uil-sync:before { content: '\ea37'; } /* '' */
.uil-syringe:before { content: '\ea38'; } /* '' */
.uil-table-tennis:before { content: '\ea39'; } /* '' */
.uil-tablet:before { content: '\ea3a'; } /* '' */
.uil-tablets:before { content: '\ea3b'; } /* '' */
.uil-tag-alt:before { content: '\ea3c'; } /* '' */
.uil-tag:before { content: '\ea3d'; } /* '' */
.uil-tape:before { content: '\ea3e'; } /* '' */
.uil-taxi:before { content: '\ea3f'; } /* '' */
.uil-technology:before { content: '\ea40'; } /* '' */
.uil-temperature-empty:before { content: '\ea41'; } /* '' */
.uil-temperature-half:before { content: '\ea42'; } /* '' */
.uil-temperature-minus:before { content: '\ea43'; } /* '' */
.uil-temperature-plus:before { content: '\ea44'; } /* '' */
.uil-temperature-quarter:before { content: '\ea45'; } /* '' */
.uil-temperature-three-quarter:before { content: '\ea46'; } /* '' */
.uil-temperature:before { content: '\ea47'; } /* '' */
.uil-tennis-ball:before { content: '\ea48'; } /* '' */
.uil-thermometer:before { content: '\ea49'; } /* '' */
.uil-thumbs-down:before { content: '\ea4a'; } /* '' */
.uil-thumbs-up:before { content: '\ea4b'; } /* '' */
.uil-thunderstorm-moon:before { content: '\ea4c'; } /* '' */
.uil-thunderstorm-sun:before { content: '\ea4d'; } /* '' */
.uil-thunderstorm:before { content: '\ea4e'; } /* '' */
.uil-times-circle:before { content: '\ea4f'; } /* '' */
.uil-times-square:before { content: '\ea50'; } /* '' */
.uil-times:before { content: '\ea51'; } /* '' */
.uil-toggle-off:before { content: '\ea52'; } /* '' */
.uil-toggle-on:before { content: '\ea53'; } /* '' */
.uil-tornado:before { content: '\ea54'; } /* '' */
.uil-trademark-circle:before { content: '\ea55'; } /* '' */
.uil-trademark:before { content: '\ea56'; } /* '' */
.uil-traffic-cone-1:before { content: '\ea57'; } /* '' */
.uil-traffic-light:before { content: '\ea58'; } /* '' */
.uil-transport:before { content: '\ea59'; } /* '' */
.uil-trash-alt:before { content: '\ea5a'; } /* '' */
.uil-trash:before { content: '\ea5b'; } /* '' */
.uil-triangle:before { content: '\ea5c'; } /* '' */
.uil-trophy:before { content: '\ea5d'; } /* '' */
.uil-trowel:before { content: '\ea5e'; } /* '' */
.uil-truck-case:before { content: '\ea5f'; } /* '' */
.uil-truck-loading:before { content: '\ea60'; } /* '' */
.uil-truck:before { content: '\ea61'; } /* '' */
.uil-tv-retro:before { content: '\ea62'; } /* '' */
.uil-umbrella:before { content: '\ea63'; } /* '' */
.uil-unamused:before { content: '\ea64'; } /* '' */
.uil-unlock-alt:before { content: '\ea65'; } /* '' */
.uil-unlock:before { content: '\ea66'; } /* '' */
.uil-up-arrow:before { content: '\ea67'; } /* '' */
.uil-upload:before { content: '\ea68'; } /* '' */
.uil-usd-circle:before { content: '\ea69'; } /* '' */
.uil-usd-square:before { content: '\ea6a'; } /* '' */
.uil-user-check:before { content: '\ea6b'; } /* '' */
.uil-user-circle:before { content: '\ea6c'; } /* '' */
.uil-user-exclamation:before { content: '\ea6d'; } /* '' */
.uil-user-hard-hat:before { content: '\ea6e'; } /* '' */
.uil-user-minus:before { content: '\ea6f'; } /* '' */
.uil-user-plus:before { content: '\ea70'; } /* '' */
.uil-user-square:before { content: '\ea71'; } /* '' */
.uil-user-times:before { content: '\ea72'; } /* '' */
.uil-user:before { content: '\ea73'; } /* '' */
.uil-users-alt:before { content: '\ea74'; } /* '' */
.uil-utensils-alt:before { content: '\ea75'; } /* '' */
.uil-utensils:before { content: '\ea76'; } /* '' */
.uil-venus:before { content: '\ea77'; } /* '' */
.uil-video-slash:before { content: '\ea78'; } /* '' */
.uil-video:before { content: '\ea79'; } /* '' */
.uil-volleyball:before { content: '\ea7a'; } /* '' */
.uil-volume-down:before { content: '\ea7b'; } /* '' */
.uil-volume-mute:before { content: '\ea7c'; } /* '' */
.uil-volume-off:before { content: '\ea7d'; } /* '' */
.uil-volume:before { content: '\ea7e'; } /* '' */
.uil-wall:before { content: '\ea7f'; } /* '' */
.uil-wallet:before { content: '\ea80'; } /* '' */
.uil-watch-alt:before { content: '\ea81'; } /* '' */
.uil-watch:before { content: '\ea82'; } /* '' */
.uil-weather:before { content: '\ea83'; } /* '' */
.uil-web-grid-alt:before { content: '\ea84'; } /* '' */
.uil-web-section-alt:before { content: '\ea85'; } /* '' */
.uil-web-section:before { content: '\ea86'; } /* '' */
.uil-wheel-barrow:before { content: '\ea87'; } /* '' */
.uil-wheelchair-alt:before { content: '\ea88'; } /* '' */
.uil-wheelchair:before { content: '\ea89'; } /* '' */
.uil-wifi-slash:before { content: '\ea8a'; } /* '' */
.uil-wifi:before { content: '\ea8b'; } /* '' */
.uil-wind:before { content: '\ea8c'; } /* '' */
.uil-window-grid:before { content: '\ea8d'; } /* '' */
.uil-window-maximize:before { content: '\ea8e'; } /* '' */
.uil-window-section:before { content: '\ea8f'; } /* '' */
.uil-window:before { content: '\ea90'; } /* '' */
.uil-windsock:before { content: '\ea91'; } /* '' */
.uil-work-in-process:before { content: '\ea92'; } /* '' */
.uil-yen-circle:before { content: '\ea93'; } /* '' */
.uil-youtube-alt:before { content: '\ea94'; } /* '' */
.uil-youtube:before { content: '\ea95'; } /* '' */